{% extends 'base.html' %}
{% block content %}

<h1>Event Details</h1>
<a href='run_sms'>SEND ME THE DEETS!!!</a>
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ event.name }}</span>
    <p>Type: {{ event.what }}</p>
    <p>Location: {{ event.where }}</p>
    <p>Description: {{ event.why }}</p>
    <p>Organizer: {{ event.organizer }}</p>
  </div>
   <div class="card-action">
    <a href="{% url 'events_update' event.id %}">Edit</a>
    <a href="{% url 'events_delete' event.id %}">Delete</a>
  </div>
  <div class="card">
      <div class="card-content">
        <h3>{{ event.name }}'s Attendees</h3>
        {% if event.attendees.count %}
          {% for attendee in event.attendees.all %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                 {{ attendee.username }}
                </span>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h5>No Attendees :(</h5>
        {% endif %}
      </div>  
      <div class="col s6">
              <h3>Available Attendees</h3>
              {% if attendees.count %}
                {% for attendee in attendees.all %}
                  <div class="card">
                    <div class="card-content">
                      <span class="card-title">
                       {{ attendee.username }}
                      </span>
                    </div>
                    <div class="card-action">
                      <form action="{% url 'assoc_user' event.id attendee.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Add</button>
                      </form>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <h5>Everyone's coming!</h5>
              {% endif %}
            </div>
    {% for photo in event.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' event.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>
</div>
<div class="col s6">
    <form action="{% url 'add_item' event.id %}" method="post">
      {% csrf_token %}
      {{ item_form.as_p }}
      <input type="submit" class="btn" value="Add Item">
    </form>
    <br>
    <table class="striped">
      <thead>
        <tr><th>Item</th><th>Category</th><th>Quantity</th><th>Priority</th><th>Cost</th><th>Attendee</th><th></th></tr>
      </thead>
      <tbody>
        {% for item in event.item_set.all %}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.priority}}</td>
            <td>{{item.cost}}</td>
            <td>{{item.bringer}}</td>
            <td>
              <form action="{% url 'assign_bringer' item.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="bringer" placeholder="Bringer's Name">
                <input type="submit" class="btn"  value="Add">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}